:root {
  /* basic colors */
  --blue: #0000ff;
  --red: #ff0000;
  --yellow: #ffff00;
  --orange: #ffa500;
  --purple: #800080;
  --green: #009400;

  /* button colors */
  --dodgerblue: #1e90ff;
  --dodgerblueAlpha: #1e90ff77;
  --candy: #e22c5a;
  --candyAlpha: #e22c5a77;
  --slate: #69747C;
  --slateAlpha: #69747C77;
  --greenAlpha: #00940077;
  --yellowAlpha: #ffff0077;

  /* neon colors */
  --nBlue: #4666FF;
  --nRed: #F2003C;
  --nYellow: #CCFF00;
  --nOrange: #FF9933;
  --nPurple: #BC13FE;
  --nGreen: #39FF14;

  /* other colors I like */
  --indigo: #4b0082;
  --rose: #F72585;
  --carrot: #F18F01;
  --lime: #51CB20;
  --dukeblue: #03045E;
  --darkpurple: #37123C;
  --blood: #890000;
  --rosewood: #6B0F1A;
  --cardinal: #C41E3A;
  --flashwhite: #EDF1F5;
  --sky: #4CC9F0;

  /* VS Code colors */
  --functions: #cff1ff;
  --comments: #818181;
  --keywords: #9f56c0;
  --numbers: #bcc794;
  --strings: #8febc6;
  --types: #41ffd0;
  --variables: #78d9ff;
  --const: #5d8bec;
}

html {
  outline: 4px solid magenta !important;
}

.button-base {
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  outline: transparent;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  min-width: 80px;
  padding: 6px 12px;
  margin-right: 16px;

  &:disabled {
    background-color: #32505066;
    border: 1px solid #32505099;
    box-shadow: none;
    cursor: default;
    color: #325050dd;
  }
}

.button-small {
  min-width: 60px;
  padding: 4px 8px;
  font-size: 13px;
}

.button-last {
  margin-right: 0;
}

.button-blue {
  background-color: #fff;
  border: 1px solid var(--dodgerblue);
  box-shadow: 4px 4px 4px var(--dodgerblue);
  color: var(--dodgerblue);

  &:hover {
    background-color: var(--dodgerblue);
    color: #fff;
    box-shadow: 4px 4px 4px var(--dodgerblueAlpha);
  }
}

.button-green {
  background-color: #fff;
  border: 1px solid var(--green);
  box-shadow: 4px 4px 4px var(--green);
  color: var(--green);

  &:hover {
    background-color: var(--green);
    color: #fff;
    box-shadow: 4px 4px 4px var(--greenAlpha);
  }
}

.button-red {
  background-color: #fff;
  border: 1px solid var(--candy);
  box-shadow: 4px 4px 4px var(--candy);
  color: var(--candy);

  &:hover {
    background-color: var(--candy);
    color: #fff;
    box-shadow: 4px 4px 4px var(--candyAlpha);
  }
}

.button-yellow {
  background-color: #fff;
  border: 1px solid var(--yellow);
  box-shadow: 4px 4px 4px var(--yellow);
  color: var(--yellow);

  &:hover {
    background-color: var(--yellow);
    color: #000;
    box-shadow: 4px 4px 4px var(--yellowAlpha);
  }
}

.button-grey {
  background-color: #fff;
  border: 1px solid var(--slate);
  box-shadow: 4px 4px 4px var(--slate);
  color: var(--slate);

  &:hover {
    background-color: var(--slate);
    color: #fff;
    box-shadow: 4px 4px 4px var(--slateAlpha);
  }
}
